[general]
environment = dev
debug = false

[ldap-dev]
uri = ldaps://ldap.example.com
base_dn = dc=example,dc=com
group_filter = (&(ou:dn:=group)(objectClass=posixGroup))
group_gid_attr = gidNumber
user_filter = (&(ou:dn:=people)(objectClass=posixAccount))
user_gid_attr = gidNumber
user_memberof_group_attr = memberOf
user_username_attr = uid
group_groupname_attr = cn
group_owner_attr = owner
group_member_username_attr = memberUid
#group_search_groupname_fmt = (cn=%s)
#user_search_username_fmt = (uid=%s)

[db-dev]
uri = mysql://username:password@mysql.example.com:1234/hgi_project_db

[auth-dev]
method = none

[auth-live]
method = token
secret_key = /path/to/secret.key
algorithm = sha1
